html {

	
	

}

body {
	background-color: #aabbcc;
}


tbody {
	
	
	background-color: #aabbcc;
}

.container {

	background-color: #778899;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px #667788;


}

.jumbotron {
	
	border-radius: 10px;
}

.form-group {
	background-color: #667788;
	

}

.table-bordered {
	background-color: #99aabb;

}

td {
	
}

h1 {
	

}

p {
	
}